{% extends '::base.html.twig' %}

{% block body %}

    <h2>Student <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></h2>
    <hr/>

    <form class="form-horizontal form-search" action="{{ path('classroom_edit', {'id' : classroom.id }) }}" method="post" {{ form_enctype(form) }}>

        <div class="row">
            <div class="span12">
                <h3>School</h3>
                {{ form_errors(form) }}
                {{ form_widget(form.name, { 'attr': {'placeholder': 'name'} }) }}

                <h3>Students</h3>

                {% for widget in form.students.children %}
                    {{ _self.widget_prototype(widget, 'Remove') }}
                {% endfor %}

                <div id="classroom_students" data-prototype="{{ _self.widget_prototype(form.students, 'Remove')|escape }}"></div>
                {{ form_rest(form) }}
            </div>
        </div>

        <div class="row form-actions">
            <div class="span12">
                <a href="#" class="btn jslink"><i class="icon-plus icon-black"></i>Add a student</a>
                <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i>Save changes</button>
                <button class="btn" type="reset">Cancel</button>
            </div>
        </div>

    </form>
{% endblock %}

{% block javascripts %}
    {% include "DytWebsiteBundle:Student:js.html.twig" %}
{% endblock %}

{% macro widget_prototype(widget, remove_text) %}
    {% if widget.get('prototype') %}
        {% set form = widget.get('prototype') %}
        {% set name = widget.get('prototype').get('name') %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.get('last_name') %}
    {% endif %}

    <div data-content="{{ name }}">
        {{ form_errors(form.last_name) }}
        {{ form_widget(form.last_name) }}
        {{ form_errors(form.first_name) }}
        {{ form_widget(form.first_name) }}
        {{ form_errors(form.ref_level) }}
        {{ form_widget(form.ref_level) }}
        {{ form_errors(form.birthday) }}
        {{ form_widget(form.birthday) }}
        {{ form_errors(form.sex) }}
        {{ form_widget(form.sex) }}
        <a href='#' class='delete_link btn btn-danger'><i class="icon-remove icon-white"></i>{{ remove_text }}</a>
    </div>
{% endmacro %}