{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class='container'>
    <div class="section" style="width:450px;margin:auto;">
        {% if error %}
            <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-margin">
            <legend>Login</legend>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="span4" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input class="span4" type="password" id="password" name="_password" required="required"/>

            <label class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/><label
                    for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </label>

            <div class="form-actions">
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                <button type="button" class="btn">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock fos_user_content %}
