<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}DYT{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bundles/dytwebsite/css/bootstrap.css') }}">
    <style>
    #landing {
        background-color: #FFFFFF;
        background-image: url("https://kippt.com/static/img/screen-kippt.jpg?ab89e539bd88"), url("https://kippt.com/static/img/html-bg.png?ab89e539bd88");
        background-position: center top, left top;
        background-repeat: no-repeat, repeat-x;
    }

    #landing #header {
        min-height: 470px;
    }

    #landing .lead {
        color: #555555;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.2;
    }
    </style>
    <link href="{{ asset('bundles/dytwebsite/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dytwebsite/css/style.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/dytwebsite/js/libs/modernizr-2.5.3-respond-1.1.0.min.js') }}"></script>
</head>

<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div id="landing">
        <div class="container-fluid">
            {% block body %}{% endblock %}
            <hr/>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/dytwebsite/js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>
    <script src="{{ asset('bundles/dytwebsite/js/libs/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/dytwebsite/js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    </body>
</html>
