{% import "DytWebsiteBundle::macros.html.twig" as macros %}
{% extends '::base.html.twig' %}

{% block body %}

    <h2>Student <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></h2>
    <hr/>

    <form class="form-horizontal form-search" action="{{ path('classroom_new') }}" method="post" {{ form_enctype(form) }}>

        <div class="row">
            <div class="span12">
                <h3>School</h3>
                {{ form_errors(form) }}
                {{ form_widget(form.name, { 'attr': {'placeholder': 'name'} }) }}

                <h3>Students</h3>

                {% for widget in form.students.children %}
                    {{ macros.widget_prototype(widget, 'Remove') }}
                {% endfor %}

                <div id="classroom_students" data-prototype="{{ macros.widget_prototype(form.students, 'Remove')|escape }}"></div>
                {{ form_rest(form) }}
            </div>
        </div>

        <div class="form-actions">
            <div class="span12">
                <a href="#" class="btn jslink"><i class="icon-plus icon-black"></i>Add a student</a>
                <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i>Save changes</button>
                <button class="btn" type="reset">Cancel</button>
                <a href="{{ path('classroom_list') }}" class="btn"><i class="icon-list icon-black"></i></i>&nbsp;List</a>
            </div>
        </div>

    </form>
{% endblock %}

{% block inline_javascripts %}
    {% include "DytWebsiteBundle:Classroom:js.html.twig" %}
{% endblock %}